html {
	box-sizing: border-box;
	background: url(fondofaerac.jpg) no-repeat center center fixed; 
    
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body {
	background: transparent;
	background-size: cover;
	height: fit-content;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
}

.contenedor {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
	display: flex;
	gap: 2px;
}
.NombrePac{
	text-align:center;
	font-family:Arial;
	font-size:60px;
}
.NombreCon {
	text-align: center;
	font-family: Arial;
	font-size: 60px;
}
.textos {
	text-align: left;
}
.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-conciertos {
	width: 30%; /* Ancho para los cards */
	length: 30%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.card {
	width: 100%;
	padding: 10px;
	border: 8px double #99ceadbb;
	margin-bottom: 10px;
	box-sizing: border-box;

}
.IndiceLinks {
	text-align: center;
	font-family: Arial;
	font-size: 60px;
	color: black;
}

	.card .textos {
		height: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 60px;
		color: black;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-between;
	}
.image{
	
  display: flex;
  align-items: center;
  justify-content: center;

}
.banner {
	border-radius: 10px;
	text-align: top;
	padding: 20px;
	
	width: 100%; /* Ancho para el banner */
	height: 40%;
	flex: 0 0 calc(30% - 20px);
	
	max-width: calc(100% - 20px); /* Ajusta el ancho máximo según tus necesidades */
	margin-left: 20px; /* Agrega un espacio de separación entre las "card" y el banner */

	box-sizing: border-box;
	background: transparent;
    border-style:outset;
	border-width: 8px 8px 8px 8px ;
	border-color:  #99ceadbb;
    
}

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
}

@media screen and (max-width: 900px) {
	.contenedor {
		flex-direction: column; /* Cambiar a una columna en pantallas más pequeñas */
	}
	
	.card, .banner {
		width: 100%; /* Ancho al 100% en pantallas más pequeñas */
		flex: 0 0 calc(100% - 20px);
		height:fit-content;
	}
	video {
		width: 100%;
		height: auto;
	}
}
