<!DOCTYPE html>
@{
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/res/styles.css">
</head>
<body>
    <div class="container">

        <img src="~/res/banner.jpg" />"
        <div class="button-container">
            <button class="oval-button box-button">Sacar turno BOX</button>
            <button class="oval-button lab-button">Sacar Turno Laboratorio</button>
        </div>
    </div>
</body>
</html>
